$dark: rgb(0, 0, 0);
$light-dark: rgba(24, 27, 31, 0.9);
$solarized-dark: #313131;
$trans-dark: rgba(40, 20, 6, 0.76);

$orange: #f09f17;
$like-orange: #d9850c;
$red: #f32c00;

$green: #54ea0c;

$light-green: #0ce771;

$my-nav: #294f5d;
$light-white: #ffffff;
$trans-white: rgba(0, 0, 0, 0.16);

$light-blue: #00c5b4;
$dark-blue: #1c1f27;
$more-blue: #00ffea;

$my-footer: #efefef;

$transparent: rgba(187, 204, 194, 0);

$gray: #9ca5a7;
$light-gray: rgba(187, 204, 194, 0.19);
$soft-gray: rgba(51, 51, 46, 0.73);
$dark-gray: rgba(37, 35, 32, 0.99);
$transition-gray: rgba(9, 17, 26, 0.46);


/*TRANSITION*/
$t-out: all .3s ease-in-out;